#!/bin/bash -l
#
#SBATCH --job-name=work_ics
#SBATCH --account=
#SBATCH --partition=
#SBATCH --time=00:40:00
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=28
#SBATCH --output=jobout/%x.%j.out
#SBATCH --error=jobout/%x.%j.err
#SBATCH --mail-type=ALL
#SBATCH --mail-user=
#SBATCH --array=12

echo "Working on ${SLURM_ARRAY_TASK_ID}"

drft="${HOME}/drft/bias_ics.py"  # Path to bias_ics.py

ic_path="/path/to/ics_ramses"    # Path to IC files

level=$SLURM_ARRAY_TASK_ID       # IC level to work on

dx=0.74294  # 0.5 Mpc / h        # Patch size in Mpc

levelmin=8                       # Minimum IC level in ICs

lin=0                            # 0 - do just baryons, 1 - do deltab
				 # and deltac (linear) (only 0 is
				 # recommended)

mpirun -n $SLURM_NTASKS python3 $drft $ic_path $level $dx $levelmin "work" $lin
